:root {
  --color-primary: #fd377e;
  --color-primary-2: #e34981;
  --color-secondary: #03b898;

  --grey-1: #f8f9fa;
  --grey-2: #e9ecef;
  --grey-3: #868e96;
  --grey-4: #212529;
  --button-color: #343A40;

  --font-family-1: "Nunito";

  --font-size-0: 2rem;
  --font-size-1: 1.75rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.25rem;
  --font-size-4: 0.875rem;
  --font-size-5: 0.75rem;
  --font-size-regular: 1rem;

  --padding-button-1: 15px 20px;
  --padding-button-2: 10px 15px;
  --padding-button-3: 15px 0;

  --radius-1: 8px;
  --radius-2: 4px;
  --radius-3: 2px;
}

/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* RESET */
button, select {
  cursor: pointer;
  transition: .3s;
}

button:active {
  scale: 0.945;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: var(--font-family-1);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FLEX COLUMN */
.flex-column {
  display: flex;
  flex-direction: column;
}

/* FONTS */
.font-title-logo {
  font-weight: 800;
  font-size: var(--font-size-2);
}

.font-title-1 {
  font-size: var(--font-size-0);
  font-weight: 800;
  line-height: 48px;
}

.font-title-2 {
  font-size: var(--font-size-regular);
  font-weight: 700;
  line-height: 24px
}

.font-alert-1 {
  font-weight: 700;
  font-size: var(--font-size-3);
  line-height: 28px;
  color: var(--grey-3);
}

.font-text-1 {
  font-size: var(--font-size-regular);
  font-weight: 400;
  line-height: 16px;
}

.font-text-2 {
  font-size: var(--font-size-5);
  font-weight: 400;
  line-height: 16px;
}

.font-button-1 {
  font-size: var(--font-size-regular);
  font-weight: 500;
}

.font-button-2 {
  font-size: var(--font-size-4);
  font-weight: 600;
}

/* PAGE LOGO */
.logo>span {
  color: var(--color-primary);
}

/* BUTTON */
.button-large {
  padding: var(--padding-button-3);
  background-color: var(--color-primary);
  color: white;
  border-radius: var(--radius-1);

}

.button-large:hover {
  background-color: var(--color-primary-2);
}

.button-default {
  padding: var(--padding-button-2);
  background-color: var(--grey-2);
  border-radius: var(--radius-1);
}

.button-default--active {
  background-color: var(--color-primary);
  color: white;
}

.button-default:hover {
  background-color: var(--color-primary);
  color: white;
}

/* INPUT */
.input-default {
  background-color: var(--grey-1);
  border-radius: var(--radius-1);
  padding: 0 16px;
  height: 48px;
  max-width: 100%;
}

.input-default::placeholder {
  color: var(--grey-3);
  transition: .3s;
}

.input-group label {
  margin-bottom: 8px;
}

.input-group>span {
  margin-top: 4px;
}

.input-container {
  position: relative;
}